<nb-card >

    <nb-card-header class="unselectable">
        <h2><strong>About Us</strong></h2>
    </nb-card-header>

    <nb-card-body>

            <p>
            Welcome to HQapp, your number one source for all things [product]. We're dedicated to giving you the very best of
            [product], with a focus on [store characteristic 1], [store characteristic 2], [store characteristic 3].
            </p>

            <p><strong><br></strong></p>
            <p>
            Founded in [year] by [founder name], HQapp has come a long way from its beginnings in [starting location]. When [founder
            name] first started out, [his/her/their] passion for [brand message - e.g. "eco-friendly cleaning products"] drove them
            to [action: quit day job, do tons of research, etc.] so that HQapp can offer you [competitive differentiator - e.g. "the
            world's most advanced toothbrush"]. We now serve customers all over [place - town, country, the world], and are thrilled
            that we're able to turn our passion into [my/our] own website.
            </p>
            

            <p><strong><br></strong></p>
            <p>
            [I/we] hope you enjoy [my/our] products as much as [I/we] enjoy offering them to you. If you have any questions or
            comments, please don't hesitate to contact [me/us].
            </p>

            <p><strong><br></strong></p>
            <p>Sincerely,</p>

            <p>[founder name]</p>

            <p><strong><br></strong></p>
            <div class="fr-view">
                <p><span style="font-size: 18px;"><strong>Comment pouvons-nous vous aider ?</strong></span></p>
                <p><em>Trouver ici les questions les plus fréquentes.</em></p>
                <p><br></p>
                <p><strong>Quand la demande me parviendra-t-elle?</strong></p>
                <p>Dépend de la compagnie maritime choisie et le responsable de la livraison, nous fournissons un groupe de
                    responsables d'expédition basés dans les grandes villes, cela prend généralement 1 à 3 jours pour que la
                    commande soit confirmée.</p>
                <p><strong><br></strong></p>
                <p><strong>Y a-t-il une livraison à l'extérieur du pays?</strong></p>
                <p>Actuellement, les compagnies maritimes avec qui nous travaillons, livrent seulement dans le pays et dans quelques
                    villes spécifié dans la page de livraison.</p>
                <p>Vous pouvez faire une demande de livraison à l'extérieur du pays auprès de l'équipe du magasin via WhatsApp en
                    leur fournissant des informations sur le poids du produit et les tarifs pour les transitaires internationaux qui
                    ne sont pas actuellement enregistrés dans le magasin.</p>
                <p><strong><br></strong></p>
                <p><strong>En cas de défaut de fabrication du produit?</strong></p>
                <p>Vous devez lire la politique de retour pour connaître les conditions de retour et d'échange, en cas d'un défaut
                    sur le produit , il a été convenu de retourner, la valeur d'expédition de l'entreprise est calculée, et le fret
                    est retourné au client. Quant à la valeur du produit, elle n'est pas calculée pour le client selon la politique
                    de retour.</p>
                <p><strong><br></strong></p>
                <p><strong>Je souhaite commander de grandes quantités. Y a-t-il une remise?</strong></p>
                <p>Le magasin propose un service de livraison pour les commandes de grandes quantités et il y a une remise allant
                    entre 10-20% sur certains produits Vous pouvez nous contacter directement via la page contact et vous renseigner
                    sur les quantités.</p>
                <p><strong><br></strong></p>
            </div>
            <div class="fr-view">
                <p><span style="font-size: 18px;"><strong>Comment pouvons-nous vous aider ?</strong></span></p>
                <p><em>Trouver ici les questions les plus fréquentes.</em></p>
                <p><br></p>
                <p><strong>Quand la demande me parviendra-t-elle?</strong></p>
                <p>Dépend de la compagnie maritime choisie et le responsable de la livraison, nous fournissons un groupe de
                    responsables d'expédition basés dans les grandes villes, cela prend généralement 1 à 3 jours pour que la
                    commande soit confirmée.</p>
                <p><strong><br></strong></p>
                <p><strong>Y a-t-il une livraison à l'extérieur du pays?</strong></p>
                <p>Actuellement, les compagnies maritimes avec qui nous travaillons, livrent seulement dans le pays et dans quelques
                    villes spécifié dans la page de livraison.</p>
                <p>Vous pouvez faire une demande de livraison à l'extérieur du pays auprès de l'équipe du magasin via WhatsApp en
                    leur fournissant des informations sur le poids du produit et les tarifs pour les transitaires internationaux qui
                    ne sont pas actuellement enregistrés dans le magasin.</p>
                <p><strong><br></strong></p>
                <p><strong>En cas de défaut de fabrication du produit?</strong></p>
                <p>Vous devez lire la politique de retour pour connaître les conditions de retour et d'échange, en cas d'un défaut
                    sur le produit , il a été convenu de retourner, la valeur d'expédition de l'entreprise est calculée, et le fret
                    est retourné au client. Quant à la valeur du produit, elle n'est pas calculée pour le client selon la politique
                    de retour.</p>
                <p><strong><br></strong></p>
                <p><strong>Je souhaite commander de grandes quantités. Y a-t-il une remise?</strong></p>
                <p>Le magasin propose un service de livraison pour les commandes de grandes quantités et il y a une remise allant
                    entre 10-20% sur certains produits Vous pouvez nous contacter directement via la page contact et vous renseigner
                    sur les quantités.</p>
                <p><strong><br></strong></p>
            </div>
            <div class="fr-view">
                <p><span style="font-size: 18px;"><strong>Comment pouvons-nous vous aider ?</strong></span></p>
                <p><em>Trouver ici les questions les plus fréquentes.</em></p>
                <p><br></p>
                <p><strong>Quand la demande me parviendra-t-elle?</strong></p>
                <p>Dépend de la compagnie maritime choisie et le responsable de la livraison, nous fournissons un groupe de
                    responsables d'expédition basés dans les grandes villes, cela prend généralement 1 à 3 jours pour que la
                    commande soit confirmée.</p>
                <p><strong><br></strong></p>
                <p><strong>Y a-t-il une livraison à l'extérieur du pays?</strong></p>
                <p>Actuellement, les compagnies maritimes avec qui nous travaillons, livrent seulement dans le pays et dans quelques
                    villes spécifié dans la page de livraison.</p>
                <p>Vous pouvez faire une demande de livraison à l'extérieur du pays auprès de l'équipe du magasin via WhatsApp en
                    leur fournissant des informations sur le poids du produit et les tarifs pour les transitaires internationaux qui
                    ne sont pas actuellement enregistrés dans le magasin.</p>
                <p><strong><br></strong></p>
                <p><strong>En cas de défaut de fabrication du produit?</strong></p>
                <p>Vous devez lire la politique de retour pour connaître les conditions de retour et d'échange, en cas d'un défaut
                    sur le produit , il a été convenu de retourner, la valeur d'expédition de l'entreprise est calculée, et le fret
                    est retourné au client. Quant à la valeur du produit, elle n'est pas calculée pour le client selon la politique
                    de retour.</p>
                <p><strong><br></strong></p>
                <p><strong>Je souhaite commander de grandes quantités. Y a-t-il une remise?</strong></p>
                <p>Le magasin propose un service de livraison pour les commandes de grandes quantités et il y a une remise allant
                    entre 10-20% sur certains produits Vous pouvez nous contacter directement via la page contact et vous renseigner
                    sur les quantités.</p>
            </div>

            <div style="height: 300px;" id="map"></div>

    </nb-card-body>
</nb-card>

