@import '../../styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {

  .menu-sidebar ::ng-deep .scrollable {
    padding-top: nb-theme(layout-padding-top);
  }

  nb-sidebar.online-users{

    .scrollable{
      overflow-y: hidden;
    }
    hq-online-users{ 
      width: nb-theme(sidebar-width-compact);
      margin: 0 -#{nb-theme(sidebar-padding)} -#{nb-theme(sidebar-padding)};
    }

    &.expanded{
      width: nb-theme(sidebar-width);
        > .scrollable {
          width: nb-theme(sidebar-width);
      }
    }
  }

  nb-sidebar{
    &.compacted, &.collapsed{
      .footer {
        display: none;
      }
    }
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    //margin-bottom: 1em;
    padding: 1em;
    opacity: 0.6;
    width: 100%;
    justify-content: space-between;

    &:hover{
      opacity: 0.8;
    }
  }


}
