<!--<img src="../../../assets/images/hq.ico" height="200" width="200"/>-->

<h1 id="title" class="title">Forgot your Password? <i class="fa fa-spinner fa-spin" *ngIf="submitted && !messages?.length"></i> </h1>
<p class="sub-title">Dont worry! just fill in your password and we will send you a link to reset your password.</p>

<nb-alert *ngIf="showMessages.error && errors?.length" outline="danger" role="alert">
    <p class="alert-title"><b>Oh snap!</b></p>
    <ul class="alert-message-list">
        <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
    </ul>
</nb-alert>

<nb-alert *ngIf="showMessages.success && messages?.length" outline="success" role="alert">
    <p class="alert-title"><b>Hooray!</b></p>
    <ul class="alert-message-list">
        <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
    </ul>
</nb-alert>


<form (ngSubmit)="requestPassword()" #form="ngForm" aria-labelledby="title">
    
    <div class="form-control-group">
        <label class="label" for="input-email">Email address:</label>
        <input nbInput [(ngModel)]="user.email" #email="ngModel" id="input-email" name="email" pattern=".+@.+..+" (ngModelChange)="submitted=false; errors=[]; messages=[];"
            placeholder="Email address" fullWidth [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : ''"
            [required]="getConfigValue('forms.validation.email.required')"
            [attr.aria-invalid]="email.invalid && email.touched ? true : null">
        <ng-container *ngIf="email.invalid && email.touched">
            <p class="error-message" *ngIf="email.errors?.required">
                Email is required!
            </p>
            <p class="error-message" *ngIf="email.errors?.pattern">
                Email should be the real one!
            </p>
        </ng-container>
    </div>

    <button nbButton fullWidth status="success" [disabled]="submitted || !form.valid || errors?.length || messages?.length" [class.btn-pulse]="submitted">
        Reset Password 
    </button>
</form>


<section class="another-action" aria-label="Register">
    Remembered your password? Go back to <a class="link" routerLink="../login"> login</a>
</section>