@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '../../../styles/styles';

@include nb-install-component() {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .header-container {
    display: flex;
    align-items: center;
    width: auto;

    .logo-container {
      display: flex;
      align-items: center;
      width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});

      .sidebar-toggle {
        @include nb-ltr(padding-right, 1.25rem);
        @include nb-rtl(padding-left, 1.25rem);
        text-decoration: none;
        color: nb-theme(text-hint-color);
        nb-icon {
          font-size: 1.7rem;
        }
        &:hover{
          nb-icon {
            transform: scale(1.2);
          }
        }
        
      }

      .logo {
        padding: 0 1.25rem;
        font-size: 1.75rem;
        @include nb-ltr(border-left, 1px solid nb-theme(divider-color));
        @include nb-rtl(border-right, 1px solid nb-theme(divider-color));
        white-space: nowrap;
        text-decoration: none;  
      }
    }

    nb-action {
      height: auto;
      display: flex;
      align-content: center;
      
      nb-user, nb-icon {
        cursor: pointer;
      }
      
      .icon-wrapper, .icon-wrapper-user{
          position:relative;
          float:left;
          cursor: pointer;
          .badge{
            background: red;
            color:white;
            min-width: 2em;
            max-width: 3em;
            height: auto;
            margin: 0;
            border-radius: 50%;
            position:absolute;
            top:-5px;
            right:-9px;
            padding:4px;
            font-weight:bold;
            font-size: x-small;
          }
          nb-icon{
            font-size: 20px;
            margin-top: 5px;
          }
      }
      
    }

    @include media-breakpoint-down(sm) {
      
      .control-item, .small-control-item{
        display: block;
      }
      .medium-control-item {
        display: none;
        border: none;
      }

      .icon-wrapper, .icon-wrapper-user{
        transform: scale(.9);
      }

    }

    @include media-breakpoint-up(md) {

      .icon-wrapper:hover{
        transform: scale(1.2);
      }

     .small-control-item {
        display: none;
        border: none;
      }
      .search-action {
        border: none;
      }
    }

    @include media-breakpoint-down(is) {
      nb-select {
        display: block;
      }
    }
  }

  .mySearchInput{
    
    border: solid;
    border-width: thin;
    border-radius: 25px;
    border-color: nb-theme(color-basic-500);
    background-color: nb-theme(background-basic-color-2);

    .input-group-prepend{
      width: 30px
    }

    .input-group-text{
      background-color: transparent;
      border: none;
      color: nb-theme(color-basic-600);
      z-index: 2;
    }

    .pre{
      i{
        right: 0;
      } 
    }
    .post{
       .fa-times{
        &:hover{
          cursor: pointer;
          transform: scale(1.2);
          border-radius: 50%;
          color: nb-theme(color-danger-700);
          //background-color:nb-theme(color-basic-500);
        }
      }
    }

    input{
      font-size: x-small;
      padding: 5px 0px;
      z-index: 2;
      //background-color: nb-theme(background-basic-color-2);
      border: none;
      &:focus{
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        outline: 0 none;
      }
    }
    &:focus{
      border-color: rgba(126, 239, 104, 0.8);
      box-shadow: 0 1px 1px nb-theme(color-primary-500) inset, 0 0 8px nb-theme(color-primary-500);
    }

  }
    

}


  nb-card {
    overflow: hidden;
    width: 300px; max-height: 400px; margin-bottom: 0; margin-top: 7px;
  
    .margin1{
      margin: 1;
    }
    .margintb5{
      margin-top: 5px;
      margin-bottom: 5px;
    }

    nb-card-header{
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    nb-card-footer{
      display: flex;
      justify-content: space-evenly;
      width: 100%;
    }

  }

  nb-list-item {
    width: 100%;  
    display: flex;  
    justify-content: left;

    &:first-child {
      border-top: none;
    }

    &:last-child{
      border-bottom: none;
    }

  }

  .list-item-hovered{
    display: flex;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
    &:hover{
      //background-color: grayscale($color: #02020221);
      background-color:rgba(0,0,0,0.2); 
    }

    nb-icon{
      &:hover{
        transform: scale(1.3);
        border-radius: 50%;
        background-color:rgba(0,0,0,0.3);
      }
    }
  }
