
<div class="col-3 header-container logo">

  <div id='stars'></div>
  <div id='stars2'></div>
  <div id='stars3'></div>

   <a (click)="GoTo('home')">
    <span class="text_logo">HQtim.com</span>
   </a>

</div>

<div class=" col-6 header-container menu laptop">

  <div id='stars'></div>
  <div id='stars2'></div>
  <div id='stars3'></div>

  <span>
    <a class="link_underlined" (click)="GoTo('home')">HOME</a>
    <a class="link_underlined" (click)="GoTo('shopping')">SHOPPING</a>
    <a class="link_underlined" (click)="GoTo('contact')">CONTACT</a>
  </span>
</div>

<div class="col-3 header-container actions">

  <div id='stars'></div>
  <div id='stars2'></div>
  <div id='stars3'></div>
  <nb-actions size="medium">

    <!-- <nb-action class="control-item">
    </nb-action> -->

    <nb-action style="border: 1px;">
      <div class="icon-wrapper" (click)="toggleShopingCartBar()">
        <nb-icon icon="shopping-cart-outline" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
        <span class="badge" *ngIf="2>0">20</span>
      </div>
    </nb-action>

    <nb-action *ngIf="currentTheme=='default'" (click)="changeTheme('dark')" class="control-item" >
      <nb-icon nbTooltip="Dark mode" [options]="{ animation: { type: 'pulse' } }" nbTooltipPlacement="bottom" icon="sun-outline"></nb-icon>
    </nb-action>

    <nb-action *ngIf="currentTheme=='dark'" (click)="changeTheme('default')" class="control-item " >
      <nb-icon nbTooltip="Light mode" [options]="{ animation: { type: 'pulse' } }" nbTooltipPlacement="bottom" icon="moon-outline"></nb-icon>
    </nb-action>

<!-- 

    <nb-action class="user-action" *ngIf="!isConnected">
      <nb-icon nbTooltip="Log in" [options]="{ animation: { type: 'pulse' } }" nbTooltipPlacement="bottom"  icon="person-outline" (click)="GoTo('auth/login')" ></nb-icon>
      <a class="link" (click)="GoTo('auth/login')">LogIn</a>
    </nb-action> 


    <nb-action class="user-action" *ngIf="isConnected">
      <a class="link" (click)="GoTo('app/dashboard')">
        <nb-icon  nbTooltip="Connect" [options]="{ animation: { type: 'pulse' } }" nbTooltipPlacement="bottom" icon="external-link-outline"></nb-icon>
      </a>
    </nb-action> 
-->
  </nb-actions>
</div>
