@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    overflow: hidden;
  }

  nb-tabset {
    display: flex;
    flex-direction: column;

    ::ng-deep ul {
      // make same size as card header
      padding-bottom: 1px;
      ::ng-deep .tab-link {
        padding: 1.25rem 2rem;
      }
    }
  }

  nb-tab {
    padding: 0;
  }

  .space-around{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .contact {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:first-child {
      border-top: none;
    }
  }

*, *:before, *:after {
	box-sizing: border-box;
	outline: none;
}

figure {
  $primary: #3366ff;
  display: inline-block;
  padding: 0;
	cursor: pointer;
	position: relative;
	align-items: flex-start;
	justify-content: center;
	min-width: 100px;
	max-width: 300px;
	min-height: 300px;
	max-height: 800px;
	//padding: 20px 20px;
	//background-image: url('https://images.pexels.com/photos/1368382/pexels-photo-1368382.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	transition: all 0.5s cubic-bezier(.25,.8,.25,1);
	overflow: hidden;
	&:before,
	&:after {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		//font-family: $font-awesome;
	}
	&:before {
		content: '';
		background-color: rgba(black,0.1);
		z-index: 0;
	}
	&:after {
		content: '';
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.5s cubic-bezier(.25,.8,.25,1);;
		overflow: hidden;
	}
	&:hover {
		background-size: 175%;
		&:after {
			content: 'Hatim';
			background-color: $primary;
			color: white;
			font-size: 72px;
			z-index: 2;
		}
		.date {
			bottom: -59px;
		}
		figcaption {
			transform: translateY(-110%);
		}
	}
	.date {
		position: absolute;
		bottom: 0;
		right: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 10px;
		background-color: rgba($primary,0.8);
		text-shadow: 1px 1px rgba(black,0.7);
		transition: all 0.5s cubic-bezier(.25,.8,.25,1);;
		span {
			color: white;
			line-height: 1;
			&:first-child {
				//font-family: $font;
				font-size: 20px;
				font-weight: 900;
			}
			&:last-child {
				font-size: 14px;
				font-weight: 400;
			}
		}
	}
	figcaption {
		color: white;
		transition: all 0.5s cubic-bezier(.25,.8,.25,1);;
		z-index: 1;
		h4 {
			margin: 0 0 5px;
			//font-family: $font-monospace;
			font-size: 24px;
			line-height: 1.35;
			text-shadow: 1px 1px rgba(black,0.7);
			background-color: rgba($primary, 0.8);
			text-align: center;
			border-radius:0px;
			> span {
			font-weight: bold;
			}
		}
		p {
			margin: 0;
			line-height: 1.5;
		}
	}
}



}
