<div class="col-sm-6 laptop created-by" style="justify-content: left;">
  <a class="link" (click)="GoTo('home')">HQtim.com &copy; 2019</a>
  <a>•</a>
  <a class="link" (click)="GoTo('about')" target="_blank">About us</a>
  <a class="link" (click)="GoTo('privacy')">Privacy Policy</a>
  <a class="link" (click)="GoTo('terms')">Terms & Conditions</a>
  <div id='stars'></div>
  <div id='stars2'></div>
  <div id='stars3'></div>
</div>

<div class="col-sm-6 laptop socials">
  <a href="https://www.linkedin.com/in/hatim-el-qaddoury/" target="_blank" class="ion ion-social-linkedin"></a>
  <a href="https://www.instagram.com/hatim.elqaddoury/" target="_blank" class="ion ion-social-instagram"></a>
  <a href="https://www.facebook.com/hatim.elqaddoury/" target="_blank" class="ion ion-social-facebook"></a>
  <a href="https://twitter.com/HatimElQaddoury" target="_blank" class="ion ion-social-twitter"></a>
  <div id='stars'></div>
  <div id='stars2'></div>
  <div id='stars3'></div>
</div>



<div class="col-12 phone created-by">
  <a class="link" (click)="GoTo('home')">HQtim &copy; 2021</a>
  <a class="link" (click)="GoTo('about')" target="_blank">About us</a>
  <a class="link" (click)="GoTo('privacy')">Privacy Policy</a>
  <a class="link" (click)="GoTo('terms')">Terms & Conditions</a>
  <div id='stars'></div>
  <div id='stars2'></div>
  <div id='stars3'></div>
</div>
<div class="col-12 phone socials">
  <a href="https://www.linkedin.com/in/hatim-el-qaddoury/" target="_blank" class="ion ion-social-linkedin"></a>
  <a href="https://www.instagram.com/hatim.elqaddoury/" target="_blank" class="ion ion-social-instagram"></a>
  <a href="https://www.facebook.com/hatim.elqaddoury/" target="_blank" class="ion ion-social-facebook"></a>
  <a href="https://twitter.com/HatimElQaddoury" target="_blank" class="ion ion-social-twitter"></a>
  <div id='stars'></div>
  <div id='stars2'></div>
  <div id='stars3'></div>
</div>

<!-- <div class="col-12 phone socials">
  <a class="link" (click)="GoTo('home')">
    <img src="../../../../../assets/images/hq-wb.png" width="50" height="30" />
  </a>
</div> -->