@import '../../../styles/styles';
@import '~@nebular/theme/styles/global/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';

@include nb-install-component() {
  width: 100%;
  display: block;
  justify-content: space-between;
  //align-items: center;

  .socials {
      font-size: 1.5rem;
      width: 100%;
      display: block;
      justify-content: space-between;

    a {
      padding: 0.5rem;
      color: nb-theme(text-hint-color);
      transition: color ease-out 0.1s;

      &:hover {
        color: nb-theme(text-basic-color);
      }
    }
  }


  @include media-breakpoint-down(sm) {
    .socials {
      font-size: 1.5rem;
    }
  }



}
