


<span class="medium-control-item">
    <div *ngIf="!chatbotToggle" class="profile-card-socialid=" id="chatbotButton" (click)="toggle()">
        <span class="profile-card-social__item chatbot">
            <span class="icon-font">
                <i class="ion ion-chatbox-working"></i>
            </span>
        </span>
    </div>

    <span *ngIf="chatbotToggle && !ChatBotRefOpened">
        <div class="messsageBox">
            <div class="chat-container">
                <nb-chat [title]="apptitle+' Bot'" size="giant" status="primary">
                    <nb-chat-message *ngFor="let msg of messages"
                                    [type]="msg.type"
                                    [message]="msg.text"
                                    [reply]="msg.reply"
                                    [sender]="msg.user.name"
                                    [date]="msg.date"
                                    [files]="msg.files"
                                    [quote]="msg.quote"
                                    [latitude]="msg.latitude"
                                    [longitude]="msg.longitude"
                                    [avatar]="msg.user.avatar">
                    </nb-chat-message>
                    <nb-chat-form (send)="sendMessage($event)" [dropFiles]="true">
                    </nb-chat-form>
                </nb-chat>
            </div>
        </div>
    </span>
</span>

<span class="small-control-item">
    <div *ngIf="!chatbotToggle" class="profile-card-social" id="chatbotButton"
        (click)="toggle(); openD(ChatBotRef); ChatBotRefOpened=true;  ">
        <span class="profile-card-social__item chatbot">
            <span class="icon-font">
                <i class="ion ion-chatbox-working"></i>
            </span>
        </span>
    </div>

    <ng-template #ChatBotRef>
        <div class="chat-container">
            <nb-chat [title]="apptitle+' Bot'" size="giant" status="primary">
                <nb-chat-message *ngFor="let msg of messages"
                                [type]="msg.type"
                                [message]="msg.text"
                                [reply]="msg.reply"
                                [sender]="msg.user.name"
                                [date]="msg.date"
                                [files]="msg.files"
                                [quote]="msg.quote"
                                [latitude]="msg.latitude"
                                [longitude]="msg.longitude"
                                [avatar]="msg.user.avatar">
                </nb-chat-message>
                <nb-chat-form (send)="sendMessage($event)" [dropFiles]="true">
                </nb-chat-form>
            </nb-chat>
        </div>
    </ng-template>
</span>

<div *ngIf="chatbotToggle" class="profile-card-social" id="chatbotButton" (click)="toggle()">
    <span class="profile-card-social__item chatbot">
        <span class="icon-font">
            <i class="ion ion-close"></i>
        </span>
    </span>
</div>